{% from 'bootstrap5/form.html' import render_form, render_field %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{url_for('.static', filename='css/global.css')}}">
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Todo Application | Noop</title>
        {% endblock %}
    </head>
    <body>
        <!-- page content -->
        {% block content %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="https://noop.app/learn">
                    <img src="{{url_for('.static', filename='assets/images/noop.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Todo Application | Noop
                </a>
            </nav>

            <div class="container border border-dark mt-5 pt-5">
                <div class="row m-auto">
                    {{ render_form(form) }}
                </div>

                <div class="row m-auto p-5">
                {% if data |length > 0 %}

                    {% for todo in data %}
                    {% set todo_url = "https://todo.local.noop.app" + "/" + todo['id'] %}
                    <div id="todo-column-{{ todo['id'] }}" class="col-sm-6 p-1">

                        <div id="todo-card-{{ todo['id'] }}" class="card rounded rounded-3 border-dark w-75 p-1" >

                            {% if todo['files'] | length > 0 %}
                                {% set file_url = "https://todo.local.noop.app/api/images" + "/" + todo['id'] + "?filename=" + todo['files'][0] %}
                                <img style="aspect-ratio: 16/9" class="card-img-top" src="{{ file_url }}"/>
                            {% else %}
                                <img class="card-img-top" src="https://tile.loc.gov/storage-services/service/pnp/pga/12000/12042v.jpg">
                            {% endif %}

                            <div id="todo-body-{{ todo['id'] }}" class="card-body">

                                <h5 id="todo-title-{{ todo['id'] }}" class="card-title"> {{ todo['description'] }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">status:
                                    {% if todo['completed'] %}
                                        <span id="todo-badge-{{ todo['id'] }}" class="badge alert-primary">complete</span>
                                    {% else %}
                                        <span id="todo-badge-{{ todo['id'] }}" class="badge alert-warning">incomplete</span>
                                    {% endif %}
                                </h6>
                                <p id="todo-text-{{ todo['id'] }}" class="card-text">
                                {{ todo['body'] }}
                                </p>
                                <div id="todo-buttongroup-{{ todo['id'] }}" class="btn-group" role="group" aria-label="todoControls">
                                    <button type="button" class="btn btn-outline-secondary" onClick='deleteItem("{{todo['id']}}")'>Remove</button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{{ todo_url }}'">Update</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="jumbotron">
                        <h1 class="display-4">It looks like you haven't created any Todos!</h1>
                        <p class="lead">use the form above to add new things todo</p>
                        <hr class="my-4">

                        <ul class="list-group col-sm">
                            <li class="list-group-item list-group-item-primary">description</li>
                            <li class="list-group-item list-group-item-primary">body</li>
                            <li class="list-group-item list-group-item-primary">complete</li>
                            <li class="list-group-item list-group-item-info">file (optionally attach an image to your todo)</li>
                        <ul>

                    </div>
                {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block scripts %}
            <!-- Load bootstrap JavaScript -->
            {{ bootstrap.load_js() }}
             <!-- Load jquery & common functions -->
            <script src="{{url_for('.static', filename='jquery-3.6.0.min.js')}}"></script>
            <script src="{{url_for('.static', filename='common.js')}}"></script>

        {% endblock %}
    </body>
</html>