{% from 'bootstrap5/form.html' import render_form, render_field %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{url_for('.static', filename='css/global.css')}}">
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Todo Application | Noop</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="https://noop.app/learn">
                    <img src="{{url_for('.static', filename='assets/images/noop.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Todo Application | Noop
                </a>
            </nav>

            <div class="container border border-dark mt-5 pt-5">
                <h1>{{data.id}}</h1>

                <p>{{data.description}}</p>

                <div class="row m-auto">
                    {{render_form(form)}}
                </div>
            </div>
        {% endblock %}

        {% block scripts %}
            <!-- Load bootstrap JavaScript -->
            {{ bootstrap.load_js() }}
             <!-- Load jquery & common functions -->
            <script src="{{url_for('.static', filename='jquery-3.6.0.min.js')}}"></script>
            <script src="{{url_for('.static', filename='common.js')}}"></script>

        {% endblock %}
    </body>
</html>